@charset 'utf-8';
/* S=导航 */
nav{
	background-color: White;
    padding: 20px 0px 0;
}
nav ul{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 0px;
}
nav ul li{
	flex: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav ul li a{
	display: inline-block;
	flex: 1;
}
nav ul li a img{
	display: inline-block;
	width: 50px;
	height: 50px;
}
nav ul li:nth-child(n+9){
	display: none;
}

nav ul li span{
	flex:1;
	color: #5a5a5a;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 13px;
}
/* E=导航 */

/* S=商品 */
.goods>h3{
	height: 35px;
    background-color: #ff9000;
    background: -webkit-gradient(linear,0 0,0 100%,
    	from(#ffaf47),to(#ff9000));
    border-bottom: solid 1px #ffc881;
    line-height: 35px;
    color: #fff;
   	padding: 0 10px;
    font-weight: bold;
    font-size: 18px;
}
.goods>h3 img{
	margin-top: 7.5px;
	width: 20px;
	height: 20px;
}
.goods ul{
	display: flex;
	flex-direction: column;
}
.goods .goods_list {
	padding: 12px 8px;
}
.goods .goods_list .list_l{
	width: 100px;
	margin-right: 10px;
}
.goods .goods_list .list_l a{
	display: inline-block;
	width: 100%;
}
.goods .goods_list .list_l a img{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.goods .goods_list .list_r{
	overflow: hidden;
}
.goods .goods_list .list_r>h3{
	color: #333333;
    word-break: break-all;
    font-size: 15px;
    line-height: 19px;
    min-height: 57px;
    text-align: left;
    font-weight: normal;
}
.goods .goods_list .list_r>h3 span{
	color: #ff6c00;
}
.goods .goods_list .list_r .list_info{
    margin-top: 10px;
	font-size: 12px;
    color: #a1a1a1;
}
.goods .goods_list .list_r .list_info span:nth-child(2){
	position: relative;
}
.goods .goods_list .list_r .list_info span:nth-child(2) i{
	position: absolute;
	top: 2px;
	right: 18px;
	vertical-align: bottom;
    width: 14px;
    height: 15px;
    background-color: red;
}

.goods .goods_more{
	width: 100%;
	padding: 10px 10px 20px;
	background-color: #f2f2f2;
}
.goods .goods_more a{
	display: inline-block;
	width: 100%;
    line-height: 30px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #F4F4F4;
    text-align: center;
    background-image: linear-gradient(#ffffff, #f4f4f4);
}
/* E=商品 */

